<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand navbar-marg" href="#">Chanakya | Full Stack Developer</a>
    
  
    <div class="collapse navbar-collapse navbar-marg" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

         <!-- Resume -->
         <li class="nav-item">
          <a class="btn btn-outline-light btn-floating m-1" href="https://docs.google.com/document/d/1mhfKBOyEkkn_K3dQZZEak-ZLufpz9Kc8/edit?usp=share_link&ouid=102901676463580827166&rtpof=true&sd=true"
          target="_blank" role="button"><i class="fab fa-solid fa-file"></i></a>
        </li>
        
        <!-- Github -->
                <li class="nav-item">
                <a class="btn btn-outline-light btn-floating m-1" href=" https://github.com/Chanakya-Gade/portfolio"
                target="_blank" role="button"><i class="fab fa-github"></i></a>
              </li>

            <!-- Linkedin -->
            <li class="nav-item">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/chanakyagade/"
                target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
              </li>

            <!-- Portfolio -->
            <li class="nav-item">
            <a class="btn btn-outline-light btn-floating m-1" href="https://chanakya-gade.github.io/portfolio/"
                target="_blank" role="button"><i class="fab fa-solid fa-suitcase"></i></a>
              </li>

            <!-- Twitter -->
            <li class="nav-item">
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/chanakyaranga" target="_blank"
                role="button"><i class="fab fa-twitter"></i></a>
              </li>

            <!-- Gmail -->
            <li class="nav-item">
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:gadechanakya@gmail.com"
            target="_blank" role="button"><i class="fab fa-solid fa-envelope"></i></a>
          </li>
          
         

        <!-- 
          
               <li class="nav-item">
          <a class="nav-link" target="_blank"  href="https://docs.google.com/document/d/1mhfKBOyEkkn_K3dQZZEak-ZLufpz9Kc8/edit?usp=share_link&ouid=102901676463580827166&rtpof=true&sd=true">Resume</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="#">Technologies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->

         
      </ul>
    </div>
  </nav>

