<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="./../../../assets/company_logos/Fid.png" alt="Fidelity">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Full stack Developer at Fidelity Investments</h2>
            <p>
                Developed an application to Fidelity Medicare Services to provide customers with tools and advice to help them select and purchase quality Medicare coverage.

            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">June 2020 - Till Date</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="./../../../assets/company_logos/Terarecon.svg" alt="Terarecon">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Full stack Developer at Terarecon, Raleigh, NC. </h2>
            <p>
                Developed a Web Application (NorthStar) that allows physicians to explore and interact with results produced by artificial intelligence algorithms directly within their reading workflow.
            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Aug 2019 – June 2020</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="./../../../assets/company_logos/optum.png" alt="Optum">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Full stack Developer at Optum, Cary, NC. </h2>
            <p>
                Revamp of UHG Legacy application running on Mainframes into modernized framework including micro-service architecture and angular 6 implemented SPA. 
            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Aug 2018 – Aug 2019 </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="./../../../assets/company_logos/Csra.png" alt="CSRA">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Full stack Developer at CSRA, Rensselaer, NY. </h2>
            <p>
                Redesign and develop current NYSOH (New York state of health) Market Place UI which was built using JSP/Bootstrap/JQuery to more robust using current technologies which help determine an individual eligibility for Medicaid, Tricare or other health plans based on their incomes.
            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">June 2017 – Aug 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="./../../../assets/company_logos/emc.png" alt="EMC2">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Full stack Developer at EMC2, Southborough, MA</h2>
            <p>
                Online web portal for providing facilities like Support, Trouble shooting, Registration, Site Administration and Products information to customers. System allows user to perform activities like Chat, Content Search, Service request Creation and tracking directly from dashboard without going through the normal process of executing it. 
            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Aug 2015 – June 2017 </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="./../../../assets/company_logos/fonkr.png" alt="Fonkr">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Jr Web Developer at Fonkr web solutions</h2>
            <p>
                 Created Web applications for Local companies using technologies that include but nt limited to JavaScript, CSS, and JSP.
            </p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">July 2013-Dec 2013 </span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->