<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href=" https://github.com/Chanakya-Gade/portfolio"
                target="_blank" role="button"><i class="fab fa-github"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/chanakyagade/"
                target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>


            <!-- Portfolio -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://chanakya-gade.github.io/portfolio/"
                target="_blank" role="button"><i class="fab fa-solid fa-suitcase"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/chanakyaranga" target="_blank"
                role="button"><i class="fab fa-twitter"></i></a>

            <!-- Gmail -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:gadechanakya@gmail.com"
            target="_blank" role="button"><i class="fab fa-solid fa-envelope"></i></a>

              <!-- Gmail -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://docs.google.com/document/d/1mhfKBOyEkkn_K3dQZZEak-ZLufpz9Kc8/edit?usp=share_link&ouid=102901676463580827166&rtpof=true&sd=true"
              target="_blank" role="button"><i class="fab fa-solid fa-file"></i></a>

            
        </section>
        <!-- Section: Social media -->